<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Films proposés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="color:rgb(90, 22, 22);font-weight:bold">Liste de films proposés aujourd'hui :</h1>

<h2>1) Malifique de  14h à 16h</h2>
<ion-img src="assets/images/malifique.png" width="20px" height="20px"></ion-img>

<h2>2) 6 years de 16h à 18h</h2>
<ion-img src="assets/images/years.png"></ion-img>

<h2>3) Squid game de 18h à 20h</h2>
<ion-img src="assets/images/squid.png"></ion-img>


<h2>4) Friends de 20h à 22h</h2>
<ion-img src="assets/images/friends.png"></ion-img>


</ion-content>
