<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Présentation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="color:rgb(90, 22, 22);font-weight:bold">Présentation de salle FonFonCinema :</h1>
<ion-img src="assets/images/cinema.png"></ion-img>
<p>FonFon Cinema est salle de projection des films moderne constitué par 100 chaises qui offre la présentation tous les types de films préférés chez vous .</p>
<h1 style="color:rgb(90, 22, 22);font-weight:bold">Infos supplémentaires :</h1>
<p> Adresse : Route ain klm 2 </p>
<p>Gmail : fonfonCinema@gmail.com</p>
<p>Téléphone : 25555555</p>
</ion-content>
